[Unit]
Description=fullscreen web browser

[Service]
Type=simple
WorkingDirectory=/opt/webdisplay
Environment=QT_QPA_EVDEV_KEYBOARD_PARAMETERS=keymap=de.qmap                
Environment=QT_QPA_EGLFS_CURSOR=cursor.json                   
ExecStart=/bin/qml web.qml

[Install]
WantedBy=multi-user.target

