[Unit]
Description=fullscreen web browser

[Service]
Type=simple
WorkingDirectory=/root
# Enable cookie persistent storage
Environment=WPE_SHELL_COOKIE_STORAGE=1
# FIXME: gst-gl's dispmanx backend is messing up with our compositor
# when it creates its initial 16x16px surface.
Environment=GST_GL_WINDOW=dummy
# Use cairo noaa compositor
Environment=CAIRO_GL_COMPOSITOR=noaa
# WebInspector
Environment=WEBKIT_INSPECTOR_SERVER=0.0.0.0:9998
# FPS
#Environment=WPE_THREADED_COMPOSITOR_FPS=1
# RPI mouse support
Environment=WPE_BCMRPI_CURSOR=1
# RPI touch support
#Environment=WPE_BCMRPI_TOUCH=1
ExecStart=/bin/WPELauncher https://google.com

[Install]
WantedBy=multi-user.target
